<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.repository.PostRepository">
    <select id="findAll" resultType="post">
        SELECT * FROM Post;
    </select>

    <insert id="add" parameterType="post">
        INSERT INTO Post (title, content, author, createdAt, updatedAt)
        VALUES (#{title}, #{content}, #{author}, #{createdAt}, #{updatedAt});
    </insert>

    <select id="findById" parameterType="Long" resultType="post">
        SELECT * FROM Post WHERE id = #{id};
    </select>

    <update id="update" parameterType="post">
        UPDATE Post
        SET title = #{title}, content = #{content}, author = #{author}, updatedAt = #{updatedAt}
        WHERE id = #{id};
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM Post WHERE id = #{id};
    </delete>
</mapper>